{
    "presets": ["next/babel", "@babel/preset-typescript"],
    "plugins": [
        "inline-react-svg",
        "@babel/plugin-transform-typescript",
        [
            "babel-plugin-styled-components",
            { "ssr": true }
        ]
    ]
}
